body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #4CAF50;
}

button {
    display: block;
    margin: 20px auto 10px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

button:focus {
    background-color: #45a049;
}

.alert-message {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 20px;
}
